* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: calibri;
}
.header {
    position: sticky;
    top: 0;
    width: 100%;
    height: 60px;
    align-content: space-between;
    background-color: rgb(233, 233, 233);
    box-shadow: 0px 5px 20px hsla(0, 0%, 53%, 0.8);
   
}
.portada {
    min-height: 100vh;
    background-color: hsl(0, 0%, 92%);
}
/* MENU PHONE*/
.menu {
    display: flex;
    position: fixed;
    left: -100%;
    height: 100vh;
    width: 70%;
    display: flex;
    flex-direction: column;
    background-color: rgb(31, 77, 163);
    transition: 0.5s left;
    padding: 10px 0;
}

.menu ul {
    list-style: none;

}
.menu li {
    padding-bottom: 2px ;
}
.menu a {
    text-decoration: none;
    color: hsl(0, 0%, 75%);
    text-transform: uppercase;
    font-size: 1.2em;
    display: block;
    padding: 20px;
    text-align: center;
}
.menu a:hover {
    background-color: hsla(0, 0%, 80%, 0.8);
    color: black;
}

/* MENU ICONO */
.menu-icono {
    position: absolute;
    right: 5%;
    top: 22%;
    height: 35px;
    width: 35px;
    background-color: hsla(216, 77%, 43%, 0.5);
    border-radius: 50%;
    border: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.menu-icono:hover {
    background-color: hsla(216, 77%, 63%, 0.5);
}

.barra-1,
.barra-2,
.barra-3 {
    width: 55%;
    height: 2px;
    background-color: aliceblue;
    border-radius: 15%;
    margin: 2px 0;
}
.menu-icono:host(){
    background-color: green;
}

@media only screen and (min-width: 600px) {
    .menu-icono {
        display: none;
    }
    
    /* MENU BARRA */
    .menu {
        display: flex;
        position: unset;
        height: 0;
        width: 100%;
        flex-direction: row;
        padding: 0;
    }
    .menu ul {
        display: flex;
        list-style: none;

    }
    
    .menu a {
        display: block;
       
        text-decoration: none;
        color: #214fe7;
        
        text-transform: capitalize;
    }
    .menu a:hover {
        border-bottom: 2px solid grey;
        background-color: transparent;
        color: #214fe7;
    }

}